.counters-container {
    display: flex;
    position: relative;
    top: -4vh;
    width: 100vw;
    padding-top: 50px;
    justify-content: center;

    opacity: 100%;
    transition: all 1s;
}

.counters-container-hidden {
    opacity: 0%;
    top: -20vh;
}

.time-display,
.word-counter {
    font-family: "Roboto Mono", monospace;
    font-size: 60px;

    padding-inline: 20px;
    color: white
}