.options-container {
    display: flex;
    position: relative;
    top: 0vh;
    padding-top: 20px;
    width: 100vw;
    justify-content: center;

    background-color: #333333;
    transition: 1s;
}

.options-container-hidden {
    top: -7vh;
    pointer-events: none;
}

.options-container-disabled {
    top: 0vh;
    pointer-events: none;
}

.options-box,
.reset-box {
    padding: 5px 5px;
    margin-inline: 5px;
    border-radius: 10px;

    background-color: #212121;
}

.mode-button,
.option-button {
    padding: 5px;
    padding-inline: 10px;
    margin-inline: 2px;
    font-family: "Roboto Mono", monospace;
    font-size: 15px;

    background: none;
    border: none;
    border-radius: 10px;
    color: #7c7c7c;

    transition: 0.3s;
}

.mode-button:hover,
.option-button:hover {
    color: white;
    background-color: #333333;
}

.active {
    color: white;
    background-color: #333333;
}