.options-container {
    display: flex;
    /* position: absolute; */
    /* top: 0vh; */
    padding-top: 20px;
    width: 100vw;
    justify-content: center;

    background-color: #333333;
}

/* Boxes */
.options-box {
    padding: 5px 5px;
    margin-inline: 10px;
    border-radius: 10px;

    background-color: #212121;
}

.reset-box {
    padding: 5px 5px;
    margin-inline: 10px;
    border-radius: 10px;

    background-color: #212121;
}

/* Buttons */
.mode-button {
    padding: 5px;
    padding-inline: 10px;
    margin-inline: 2px;
    font-family: "Roboto Mono", monospace;
    font-size: 15px;

    background: none;
    border: none;
    border-radius: 10px;
    color: #7c7c7c;
}

.option-button {
    padding: 5px;
    padding-inline: 10px;
    margin-inline: 2px;
    font-family: "Roboto Mono", monospace;
    font-size: 15px;

    background: none;
    border: none;
    border-radius: 10px;
    color: #7c7c7c;
}

.reset-button {
    padding: 5px;
    padding-inline: 10px;
    margin-inline: 2px;
    font-family: "Roboto Mono", monospace;
    font-size: 15px;

    background: none;
    border: none;
    border-radius: 10px;
    color: #7c7c7c;
}

/* On Hover */
.mode-button:hover, .option-button:hover, .reset-button:hover {
    background-color: #333333;
}


.mode-button:active, .option-button:active, .reset-button:active {
    background-color: #333333;
}

/* To do here: */
/* Perfectly center options box, reset box on the left */
/* Buttons:active */
/* Move/Hide on stage 2 and 3 */