.stats-container {
    display: flex;
    position: relative;
    left: 0vw;
    width: 100vw;
    top: -60px;
    justify-content: center;

    opacity: 100%;
    transition: all 1s;
}

.stats-container-hidden {
    opacity: 0%;
    left: -50vw;
}

.stats {
    font-family: "Roboto Mono", monospace;
    font-size: 42px;

    padding-inline: 20px;
    color: #7c7c7c;
}

