.display-container {
  display: flex;
  /* position: absolute; */
  /* top: 19vh; */
  width: 100vw;
  padding-top: 45px;

  background-color: #333333;
}

.display-text {
  margin: auto;
  width: 85%;

  font-family: "Roboto Mono", monospace;
  font-weight: 350;
  font-size: 34px;
  line-height: 1.4;

  background-color: #333333;
}

/* Correct letters */
.display-container span.correct {
  color: white;
}

/* Incorrect letters */
.display-container span.incorrect {
  color: rgb(155, 0, 0);
}

/* Skipped letters */
.display-container span.skipped {
  color: gray;
  /* text-decoration: underline; */
}

/* Extra letters */
.display-container span.extra {
  color: rgb(110, 0, 0);
}